.boardRow {
	width:100%;
}
.cell {
	display: inline-block;
	width: 1%;
	height: 1%;
	border: grey 1px solid;
	background: white;

}
.cell.full {
	background: black;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}